### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Using .loc function to access rows in dataset
players_df = purchase_data.loc[:, ["SN", "Age", "Gender"]].copy()

# Dropping duplicates to avoid errors in calculation
total_players = players_df.drop_duplicates(subset=None, keep='first', inplace=False)
total_players

# Creating variable and using function to return a list of values
player_count = total_players['SN'].values

# Using .size function to return number of rows
print(f'Total Players: {player_count.size}')

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Creating variable to define the length of a string to calculate unique items in purchase_data
unique_items = len(purchase_data['Item ID'].unique())

# Creating variable to calculate mean of average price
average_price = purchase_data['Price'].mean()

# Creating variable to calculate count of purchase numbers
number_purchases = purchase_data['Purchase ID'].count()

# Creating variable to calculate sum of total revenue based on prices
total_revenue = purchase_data['Price'].sum()

# Building DataFrame
purchase_analysis = pd.DataFrame({"Number of Unique Items": unique_items, 
                                  "Average Price": [average_price], 
                                  "Number of Purchases": [number_purchases], 
                                  "Total Revenue": [total_revenue]})


# Formatting DataFrame
purchase_analysis = purchase_analysis.round(2)
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].map("${:,.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:,.2f}".format)

purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Creating variable to get a series containing counts of unique values
gender_counts = total_players["Gender"].value_counts()

# Using .size function to return number of rows
gender_percents = gender_counts / player_count.size

# Creating DataFrame
gender_summary = pd.DataFrame({"Total Count":gender_counts, "Percentage of Players": gender_percents})

gender_summary 

# Formatting DataFrame
gender_summary.style.format({"Percentage of Players":"{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Splitting data into groups by gender
group_gender = purchase_data.groupby(["Gender"])

# Calculating purchase count based on gender
purchase_count = group_gender["SN"].count()

# Calculating average purchase price 
ave_pur_price = group_gender["Price"].mean()

# Calculating sum of purchase per total person 
tot_pur_value = group_gender["Price"].sum()

# Dropping duplicates to avoid errors in calculation
dupl_values = purchase_data.drop_duplicates(subset='SN', keep="first")

# Splitting data into groups based on duplicate values
group_dupl = dupl_values.groupby(["Gender"])

# Calculating average total purchase per person
ave_per_person = (group_gender["Price"].sum()/group_dupl["SN"].count())

# Creating DataFrame
purch_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                              "Average Purchase Price": ave_pur_price,
                              "Total Purchase Value": tot_pur_value,
                              "Avg Total Purchase per Person": ave_per_person})

# Formatting DataFrame
purch_analysis["Average Purchase Price"] = purch_analysis["Average Purchase Price"].map("${:,.2f}".format)
purch_analysis["Total Purchase Value"] = purch_analysis["Total Purchase Value"].map("${:,.2f}".format)
purch_analysis["Avg Total Purchase per Person"] = purch_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
purch_analysis = purch_analysis[["Purchase Count", "Average Purchase Price", "Total Purchase Value", 
                                "Avg Total Purchase per Person"]]
purch_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Creating variable to define the length of a string to calculate age demographics and getting counts of unique values
sum_of_players = len(purchase_data["SN"].value_counts())

# Creating bins for ages
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# Creating column ranges for ages
columns = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sorting age values into established bins
purchase_data["Age By Group"] = pd.cut(purchase_data["Age"],bins, labels=columns)
purchase_data

# Splitting data into groups by age
age_by_group = purchase_data.groupby("Age By Group")

# Using .nunique function to get total number of unique players by age
players_by_age = age_by_group["SN"].nunique()

# Calculating percentage by age categories
percent_categorized_age = (players_by_age/sum_of_players) * 100

# Creating DataFrame
demographics_by_age = pd.DataFrame({"Total Count": players_by_age, "Percentage of Players": percent_categorized_age})

# Setting index for DataFrame
demographics_by_age.index.name = None

# Formatting DataFrame
demographics_by_age.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Calculating purchase count
purchase_by_age = age_by_group["Purchase ID"].count()

# Calculating average purchase price
average_pur_price = age_by_group["Price"].mean()

# Calculating purchase total per player
total_per_person = age_by_group["Price"].sum()

# Calculating average purchase per player
average_pur_per_person = total_per_person/players_by_age

# Creating DataFrame
purchase_analysis_age = pd.DataFrame({"Purchase Count": purchase_by_age,
                                     "Average Purchase Price": average_pur_price,
                                      "Total Purchase Value": total_per_person,
                                      "Avg Total Purchase per Person": average_pur_per_person
                                     })
purchase_analysis_age.index.name = "Age Ranges"

# Formatting DataFrame
purchase_analysis_age.style.format({"Average Purchase Price":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}",
                                    "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Splitting data into groups by top spenders
top_spenders = purchase_data.groupby("SN")

# Calculating total purchase count
total_purchases = top_spenders["Purchase ID"].count()

# Calculating price based on average spender
average_spender = top_spenders["Price"].mean()

# Calculating total purchase value
total_purchase = top_spenders["Price"].sum()

# Creating DataFrame
spenders = pd.DataFrame({"Purchase Count": total_purchases,
                        "Average Purchase Price": average_spender,
                        "Total Purchase Value": total_purchase})
spenders_df = spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Formatting DataFrame
spenders_df.style.format({"Average Purchase Total":"${:,.2f}",
                         "Average Purchase Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"
                         })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Creating variable and sorting based on columns
popular_items = purchase_data[["Item ID", "Item Name", "Price"]]

# Splitting data into groups based on item ID
item_id = popular_items.groupby(["Item ID", "Item Name"])

# Calculating purchase count
count_by_purchase = item_id["Price"].count()

# Calculating sum of total purchase value
total_value_purchase = (item_id["Price"].sum())

# Calculating item price
price_of_item = total_value_purchase/count_by_purchase

# Creating and formatting DataFrame
popular_items = pd.DataFrame({"Purchase Count": count_by_purchase,
                             "Item Price": price_of_item,
                             "Total Purchase Value": total_value_purchase})
most_popular = popular_items.sort_values(["Purchase Count"], ascending=False).head()
most_popular.style.format({"Item Price":"${:,.2f}",
                          "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Sorting values to calculate key metrics for most profitable items
most_popular = popular_items.sort_values(["Total Purchase Value"],
                                        ascending=False).head()

# Formatting table
most_popular.style.format({"Item Price":"${:,.2f}",
                          "Total Purchase Value":"${:,.2f}"})

<b>Two Observable Trends</b>
1. Percentage and count in male players was significantly higher than percentage and count of female players, resulting in a higher purchase value for males and a lower purchase value females. Based on the data, an assumption can be made that players are predominantly males.
2. Age ranges 20-24 had the highest purchase count and a higher purchase value, while age ranges 40+ had the lowest purchase count and a lower purchase value. The data signifies that the percentage of players, between age ranges 20-24, is significantly high compared to other age ranges.